*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
@keyframes bordeboton {
    0%{
        border-bottom: 2px solid black;
    }
    50%{
        border-bottom: 2px solid #E8F0F2;
    }
    100%{
        border-bottom: 2px solid black;
    }
}
@keyframes animacionlogo {
    0%{
        color: black;
    }
    25%{
        color: #39A2DB;
    }
    50%{
        color: none;
    }
    
}
@media screen and (max-width: 400px){
    .logo{
        display: none;
    }
    
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #053742;
    height: 60px;
    color: white;

}
.logo{
    padding: 20px;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    transition: 400ms ease;
}
.logo:hover{
    transition: 400ms ease;
    transform: rotate(360deg);
}
h2:hover{
    transition: 600ms ease;
    color: black;
}
.navegacion{
    text-decoration: none;
    list-style: none;
    font-size: 1.2em;
}
.navegacion li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    background-color: #0000;
    color: white;
    display: inline-block;
    margin-left: 5px;
    padding: 10px;
    border-bottom: 2px solid #0000;
    transition: 200ms ease;
}
.navegacion li:hover{
    transition: 200ms ease;
    border-bottom: 2px solid white;
}
@media screen and (min-width: 360px) {
    body{
        background-color: #E8F0F2;
    }
    .contenedor-header{
        margin: auto;
        flex-direction: column;
        display: flex;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 660px;
        height: 120vh;
        margin-top: 10px;
        background-color: #E8F0F2;
    }
    .informacion-principal{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 2.8em;
        text-align: center;
        height: 30vh;
    
    }
    .informacion-principal h1{
        font-size: 0.6em;
    }
    .botones-informacion-header{
        display: flex;
        margin: auto;
        align-items: flex-end;
        width: 100%;
        height: 20vh;
    }
    .botones-header{
        width: 50%;
        height: 7vh;
        text-align: center;
        font-size: 0.5em;
        font-weight: 300;
        color: black;
        transition: 200ms ease-in;
    
    }
    .botones-header a{
        font-style: none;
        text-decoration: none;
        color: black;
        font-weight: 400;
        padding: 1px;
        animation-name: bordeboton;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        border-bottom: 2px solid #E8F0F2;
    
    }
    .botones-header a:hover{
        color: black;
        border-bottom: 2px solid black;
        background-color: #E8F0F2;
        transition: 200ms ease;
    }

    .imagen-header{
        width: 90%;
    }
    .contenedor-imagen-header{
        width: 100%;
        text-align: center;
    }
    .descripcion-header{
        width: 90%;
        text-align: center;
        font-size: 1em;
    }
    .contenedor-main{
        width: 100%;
        height: 126vh;
        background-color: #A2DBFA;
        margin: auto;
        text-align: center;
        margin-top: 5vh;
        background-color: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 0%, rgba(162,219,250,1) 100%);
    }
    }
    .contenedor-main h3{
        font-size: 2em;
    }
    #parrafo-main{
        font-size: 1em;
    }
    .contenedor-main-informacion{
        display: flex;
        flex-direction: column;
    }
    .contenedor-imagen-main{
        margin: auto;
        width: 70%;
        
    }
    .contenedor-imagen-main p{
        width: 80%;
        margin: auto;
        
    }
    .imagen-main{
        width: 50%;
        height: 250px;
    }
    .contenedor-main-descripcion{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        background: rgb(162,219,250);
        background: linear-gradient(180deg, rgba(162,219,250,1) 13%, rgba(162,219,250,1) 24%, rgba(162,219,250,0.01) 100%);

    }
    .contenedor-main-descripcion h2{
        text-align: center;
    }
    .contenedor-main-descripcion p{
        margin-bottom: 5vh;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .contenedor-de-cajas-descripcion-main{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .contenedor-de-cajas-descripcion-main div{
        margin-top: 10px;
        height: 300px;
        width: 45%;
        max-width: 400px;
        background-color: #e8f0f2bd;
        
    }
    .contenedor-section{
        width: 100%;
        height: 120vh;
        background-color: #A2DBFA;
        margin: auto;
        text-align: center;
        margin-top: 5vh;
        text-align: center;
    }


@media screen and (min-width: 480px){
    .informacion-principal h1{
        font-size: 0.7em;
    }
    .botones-header{
        font-size: 0.6em;
    }
    .contenedor-main h3{
        font-size: 2em;
        width: 100%;
        margin: auto;
    }
    #parrafo-main{
        font-size: 1em;
        width: 70%;
        margin: auto;
    }
    .titulo-h2-descripcion-main{
        width: 100%;
        margin-top: 10vh;
    }
    .parrafo-descripcion-main{
        margin-bottom: 5vh;
    }
    .contenedor-main-descripcion p{
        width: 80%;
}
@media screen and (min-width: 560px){

    .informacion-principal{
        text-align: center;
    }
    .botones-informacion-header{
        justify-content: space-around;
    }
    .botones-header{
        width: 45%;

    }
    .botones-header a{
        font-size: 1.2em;
        font-weight: 400;
    }
    .contenedor-main{
        height: 170vh;
    }
    .contenedor-imagen-main{
        margin-top: 15vh;
    }
    .contenedor-imagen-main p{
        margin-top: 5vh;
        padding: 3px;
    }
}
@media screen and (min-width:900px) {
    .contenedor-main-informacion{
        flex-direction: row;
        margin-top: 0vh;
    }
    .contenedor-main{
        max-width: 1920px;
        height: 62vh;
    }
    .contenedor-header{
        flex-direction: row;
        height: 90vh;
        max-width: 1920px;
        justify-content: space-around;
    }
    .informacion-principal{
        width: 60%;
    }
    .contenedor-imagen-header{
        width:40%;
    }
    .descripcion-header{
        width: 80%;
        margin-top: 20vh;
    }
    .contenedor-imagen-header{
        height: 30vh;
    }
    .botones-informacion-header{
        justify-content: center;
    }
    .botones-header{
        width: 40%;
    }
    .contenedor-de-cajas-descripcion-main{
        width: 80%;
    }
}
@media  screen and (min-width: 1000px) {
    .contenedor-de-cajas-descripcion-main{
        width: 70%;
    }
}
}