.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A2DBFA;
    height: 60px;

}
.logo{
    padding: 20px;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    transition: 400ms ease;
}
.logo:hover{
    transition: 400ms ease;
    transform: rotate(360deg);
}
h1:hover{
    transition: 600ms ease;
    color: #39A2DB;
}
.navegacion{
    text-decoration: none;
    list-style: none;
}
.navegacion li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    background-color: #A2DBFA;
    color: black;
    display: inline-block;
    margin-left: 5px;
    padding: 10px;
    border-bottom: 2px solid #A2DBFA;
    transition: 100ms ease;
}
.navegacion li:hover{
    transition: 100ms ease;
    border-bottom: 2px solid white;
}